.AT-WHOLE-CONTAINER{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AT-TOP-CONTAINER{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}

.atb-1{
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0px;
    opacity: 0.3;
}

.atb-2{
    background-color:rgb(255, 196, 255);

}

.atb-3{
    background-color:cyan;
}

.atb-4{
    background-color: rgb(255, 151, 54);
}

.atb-5{
    background-color:rgb(31, 180, 31);
}

.atb-6{
    background-color:rgb(245, 104, 146);
}

.right-atb-top{
    display: flex;
    flex-direction: column;
}

.right-atb{
    margin-left: 150px;
    margin-top: 10px;
}

.AT-DOWN-CONTAINER{
    width: 90%;
    height: 90%;
    overflow-y: auto;
    margin-top: 5px;
    margin-left: 5px; 
    background-color: white;
    border-radius: 3px;
}

.div-container-at div{
    width: 98%;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 8px;
    border-bottom: 1px solid rgb(180, 171, 171);
    border-right: 0.1px solid rgb(180, 171, 171);
}

.div-container-at div h6{
    font-size: large;
    font-weight: 400;
}

